name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  
  build:
         
    runs-on: ubuntu-latest     

    services:
      postgres:
        image: postgres:16
        env: 
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }} 
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }} 
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5: 
        
    env:
      APP_NAME: ${{ vars.APP_NAME }} 
      POSTGRES_DB: ${{ secrets.POSTGRES_DB }} 
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }} 
      
    steps:
    - uses: actions/checkout@v4

    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
        cache: maven
          
    - name: Install dependencies
      run: make install

    - name: Run check
      run: make lint

    - name: Run tests
      run:  make test
      
    - name: Run distcheck
      run: make build

    - name: Build Docker image
      run: |
        docker build -t $APP_NAME:${{ github.sha }} .
        docker tag $APP_NAME:${{ github.sha }} $APP_NAME:latest

