name: Multi-job CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  APP_NAME: ${{ vars.APP_NAME }}
  POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
  POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
  POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
  IMAGE: ghcr.io/${{ github.repository }}

jobs:
  test:
    services:
        postgres:
          image: postgres:16
          ports:
            - 5432:5432
          env:
            APP_NAME: ${{ vars.APP_NAME }}
            POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
            POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
            POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5
            
    name: Lint & test (Java)
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Install dependencies
        run: make install

      - name: Run lint
        run: make lint

      - name: Run tests
        run: make test
        
  build:
    name: Build image
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Normalize image name (lowercase)
        run: echo "IMAGE=$(echo $IMAGE | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Build image
        run: |
          docker build -t $IMAGE:${{ github.sha }} .
          docker tag $IMAGE:${{ github.sha }} $IMAGE:latest

      - name: Save image
        run: |
          docker save $IMAGE:${{ github.sha }} $IMAGE:latest > image.tar

      - uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar

  push:
    name: Push image to GHCR
    needs: build 
    runs-on: ubuntu-latest
    
    permissions: 
      packages: write
      
    steps:   
      - name: Normalize image name (lowercase)
        run: echo "IMAGE=$(echo $IMAGE | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - uses: actions/download-artifact@v4
        with:
          name: docker-image
          
      - name: Load image
        run: docker load < image.tar

      - name: Login to GHCR
        run: echo ${{ github.token }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push image
        run: |
          docker push $IMAGE:${{ github.sha }}
          docker push $IMAGE:latest
